body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
/* ---------------------header-------------- */
header {
    display: flex;
    justify-content:space-between;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
}

a{
    display: block;
    color: #333;
    padding: 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

/* add underline to the selected link */
.active {
    text-decoration: underline;
}
/* ---------------------main----------------- */
main {
    display: flex;
}
/* ---------------------aside---------------- */
aside {
    /* main is 100vw, aside take 20vw, section take the rest 80vw */
    width: 20vw;
    margin: 2% 0;
}
.brand-selector {
    display: flex;
    flex-direction: column;
}

.brand-selector button {
    display: block;
    margin: 4% 0;
    border: none;
    background: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.brand-selector button:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ---------------------section-------------- */
section {
    width: 80vw;
}

/* push search bar to the right */
.search-wrapper {
    margin: 2%;
    text-align: right;
}

.search-wrapper input {
    padding: 6px;
    font-size: 17px;
}

/* -------------------container of all items-------------- */
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* -------------------container of a single item---------- */
.shop-item {
    margin-right: 3%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
}

.shop-item-image {
    width: 260px;
    height: 300px;
    margin: auto;
}

.shop-item-brand, .shop-item-title {
    margin: 0;
}

.shop-item-details {
    width: 100%;
}

.shop-item-button {
    float: left;
    background-color: #333;
    color: white;
    width: 100%;
    cursor: pointer;
    
}

/* ----------footer--------- */
footer {
    display: flex;
    justify-content: space-between;
}

.business-list {
    align-items: center;
}

footer a{
    padding: 10px 20px 10px 10px;
    margin: 20px 5px 10px 5px;
    font-size: 12px;
}


/* --------------------------------shopping bag page------------------------- */
/*  cart-content is class name of main tag  */
.cart-content {
    flex-direction: column;
    align-items: center;
}

.cart-items, .cart-header, .cart-total {
    width: 60%;
}

.cart-row, .cart-header, .cart-total {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

/* aligin shopping cart column */
.cart-header span, .cart-item, .cart-item-price, .cart-item-quantity{
    width: 220px;
    text-align: center;
}

.cart-row {
    margin: 2% 0;
    align-items: center;
}
.cart-item-image {
    float: left;
}

.cart-total {
    margin-top: 2%;
    border: none;
    font-size: 1.25em;
}

.cart-quantity-input {
    height: 33px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    text-align: center;
    font-size: 1em;
    margin-right: 25px;
}

.btn-danger {
    color: white;
    background-color: #333;
    border: none;
    border-radius: 10px;
    padding: 11px;
}

.btn-danger:hover {
    cursor: pointer;
    color: white;
    background-color: #EB5757;
}

.btn-order {
    font-size: 1.25em;
    background-color: #333;
    color: white;
    padding: 10px;
    margin: 5%;
}

.btn-order:hover {
    cursor:pointer;
    color: #333;
    background-color: #9dff00;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}


/* --------------------------------------------Order Page-------------------------- */
#orderform {
    flex-direction: column;
}

form, #orderform h1 {
    width: 70%;
    margin: auto;
}

fieldset {
    margin: 20px;
    border: none;
}

legend {
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

div#order-btn {
    text-align: center;
}

#submit {
    background-color: #00a2ed;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 80px;
    margin: 2%;
}

#reset {
    background-color: #ff4040;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 80px;
    margin: 2%;
}

.warning {
    color: red;
}


/* -----------------------newsletter popup------------------------------ */
#parent {
    position: relative;
    display: inline-block;
}

.myForm {  
    text-align: center;
    border: 1px solid;
    flex-direction: column;
    display: none;
    position: absolute;
    width: 400px;
    bottom: 40px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#errors { color: red; }

#email {
padding: 10px;
width: 70%;
margin-top: 20px;
}

.category{
margin: 10px auto;
}

.errormessage {
color: #ff3860;
}

.show {
display:block;
}